

#diamond-menu {


    position: absolute;


    z-index: 10;


    top: 14%;


    left: 21%;


    width: 60%;


    height: 60%;


    /*    border: 1px solid black;*/


    -ms-transform: rotate(-135deg);


    -webkit-transform: rotate(-135deg);


    transform: rotate(-135deg);


}


#diamond-bg {


    position: absolute;


    top: 15%;


    left: 21%;


    width: 59%;


    height: 59%;


    background-color: rgba(255, 0, 0, 0.28);


}


#bottom-section {


    font-family: 'Building';


    font-size: 8vh;


    text-transform: uppercase;


    position: absolute;


    width: 100%;


    height: 13%;


    bottom: 0px;


    left: 0px;


    text-align: center;


}


.level-row {


    height: 10%;


    width: 100%;


}


.level-tile {


    width: 10%;


    height: 100%;


    background-color: black;


    display: inline-block;


    border: 1px solid rgb(83, 83, 83);


    ;


}


.level-tile.ready {


    -webkit-transition: background-color 0.4s;


    /* For Safari 3.1 to 6.0 */


    transition: background-color 0.4s;


    background-color: white;


    cursor: pointer;


}


.level-tile.complete {


    -webkit-transition: background-color 0.4s;


    /* For Safari 3.1 to 6.0 */


    transition: background-color 0.4s;


    background-color: rgb(19, 218, 35);


    cursor: pointer;


}


.level-tile.complete[tier='1'] {


    background-color: #E7B6EE;


}


.level-tile.complete[tier='2'] {


    background-color: #B0D8EE;


}


.level-tile.complete[tier='3'] {


    background-color: #BAFFFC;


}


.level-tile.complete[tier='4'] {


    background-color: #A6FF9E;


}


.level-tile.complete[tier='5'] {


    background-color: #F5F592;


}


.level-tile.complete[tier='6'] {


    background-color: #F8C466;


}


.level-tile.complete[tier='7'] {


    background-color: #F77;


}


#diamond-menu.all-clear .level-tile {


    background-color: gold;


}


.level-tile.ready[tier='1']:hover,


.level-tile.complete[tier='1']:hover,


#diamond-menu.all-clear .level-tile[tier='1']:hover {


    background-color: #B16ADA;


}


.level-tile.ready[tier='2']:hover,


.level-tile.complete[tier='2']:hover,


#diamond-menu.all-clear .level-tile[tier='2']:hover {


    background-color: #389CD3;


}


.level-tile.ready[tier='3']:hover,


.level-tile.complete[tier='3']:hover,


#diamond-menu.all-clear .level-tile[tier='3']:hover {


    background-color: #39BEB9;


}


.level-tile.ready[tier='4']:hover,


.level-tile.complete[tier='4']:hover,


#diamond-menu.all-clear .level-tile[tier='4']:hover {


    background-color: #4EEB40;


}


.level-tile.ready[tier='5']:hover,


.level-tile.complete[tier='5']:hover,


#diamond-menu.all-clear .level-tile[tier='5']:hover {


    background-color: #FAEC47;


}


.level-tile.ready[tier='6']:hover,


.level-tile.complete[tier='6']:hover,


#diamond-menu.all-clear .level-tile[tier='6']:hover {


    background-color: #F79F00;


}


.level-tile.ready[tier='7']:hover,


.level-tile.complete[tier='7']:hover,


#diamond-menu.all-clear .level-tile[tier='7']:hover {


    background-color: #F00;


}


.noPuzz {


    visibility: hidden;


}